<h1>Places</h1>
  <p>
    <a href="/places/new/" class="btn btn-primary btn-lg">New Place</a>
  </p>

<% for place in @places %>
  <h4>
    <a href="/places/<%= place.id %>"><%= place.name %></a>
  </h4>
<% end %>
